{{ define "body" }}
    <body class="{{ if .Site.Params.backgroundImage }} background-image" style="background-image: url('{{ .Site.Params.backgroundImage }}');" {{ else }}"{{ end }}>
{{ end }}

{{ define "main" }}
    <main aria-role="main">
        <div>
            {{ if .Site.Params.Portrait.Path }}
               <img src="{{ .Site.Params.Portrait.Path }}" class="circle" alt="{{ .Site.Params.Portrait.Alt }}" style="max-width:{{ .Site.Params.Portrait.MaxWidth }}" />
            {{ end }}

            <h1>{{ .Site.Title }}</h1>

            {{ partial "subtitle.html" . }}

            <!-- copied from lynx ->
            {{ with .Site.Author.links }}
            <div class="flex flex-col flex-wrap min-w-full mt-4 sm:min-w-0">
                {{ range $links := . }}
                {{ range $type, $data := $links }}
                    {{ $href := $data }}
                    {{ $icon := $type }}
                    {{ $text := i18n (printf "link.%s" $type) }}
                    {{ $target := "_blank" }}
                    {{ $title := "" }}
                    {{ if reflect.IsMap $data }}
                    {{ with $data.href }}{{ $href = . }}{{ end }}
                    {{ with $data.icon }}{{ $icon = . }}{{ end }}
                    {{ with $data.text }}{{ $text = . }}{{ end }}
                    {{ with $data.target }}{{ $target = . }}{{ end }}
                    {{ with $data.title }}{{ $title = . }}{{ end }}
                    {{ end }}
                    <a
                    class="link link-{{ $type }} mb-3 min-w-full rounded py-2 text-lg sm:px-24"
                    href="{{ $href }}"
                    target="{{ $target }}"
                    {{ with $title }}title="{{ . }}"{{ end }}
                    rel="me noopener noreferrer"
                    >
                    {{- with $icon -}}
                        <span class="mr-1">{{ partial "icon.html" . }}</span>
                    {{- end -}}
                    {{ $text | emojify }}
                    </a>
                {{ end }}
                {{ end }}
            </div>
            {{ end }}
            <!- end copy -->

            {{- with .Site.Params.social }}
                <div>
                    {{ partial "social-icons.html" . }}
                </div>
            {{- end }}
        </div>
    </main>
{{ end }}
